<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#bs-example-navbar-collapse-1"
        aria-expanded="false"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a routerLink="/"
        ><img class="navbar-brand" src="../assets/images/PCM-ZOOMED.png"
      /></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown" appDropdown>
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
          >
            <span class="glyphicon glyphicon-user" aria-hidden="true"></span>
            Pacientes <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a routerLink="/InsertPatient">Crear Paciente</a></li>
            <li><a href="#">Buscar Paciente</a></li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ><span
              class="glyphicon glyphicon-calendar"
              aria-hidden="true"
            ></span
            >Citas <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li>
              <a class="dropdown-item" style="cursor: pointer">Crear citas</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer">Buscar citas</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer">Buscar recibo</a>
            </li>
            <li>
              <a class="dropdown-item" style="cursor: pointer">Reportes</a>
            </li>
          </ul>
        </li>
        <li class="dropdown" appDropdown>
          <a
            class="dropdown-toggle"
            data-toggle="dropdown"
            role="button"
            aria-haspopup="true"
            aria-expanded="false"
            ><span class="glyphicon glyphicon-leaf" aria-hidden="true"></span
            >Farmacos <span class="caret"></span
          ></a>
          <ul class="dropdown-menu">
            <li><a href="#">Incertar Farmaco</a></li>
          </ul>
        </li>
        <li class="nav-item">
          <a class="btn-get-started" style="margin-top: 5px">Iniciar sesión</a>
        </li>
      </ul>
    </div>
    <!-- /.navbar-collapse -->
  </div>
  <!-- /.container-fluid -->
</nav>
